.footer {
    background: $colorBlack;
    color: $colorWhite;

    &_logo {
        display: flex;
        width: 139px;
        height: 27px;
        padding-right: 0px;
        justify-content: center;
        align-items: center; 
    }
}
