.props-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-left: -10px;

  & h3 {
    padding: 43px 80px 26px 30px;
  }
}

.props_list {
  display: flex;
  align-items: center;
  background: $bgGrey;
  width: 322px;
  height: 72.4px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;

  & h4 {
    color: $colorBlack;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
  }

  & .fa-mobile-screen-button {
    font-size: 20px;
    color: $colorGrey3;
    margin: 0 27px 0 35px;
  }

  & .fa-list-ul {
    font-size: 20px;
    color: $colorGrey3;
    margin: 0 23px 0 34px;
  }

  & .fa-store {
    font-size: 20px;
    color: $colorGrey3;
    margin: 0 20px 0 35px;
  }

  & i:hover {
    color: $colorPrimary;
  }
}

.list_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $colorPrimary;
  color: $colorWhite;
  font-family: Roboto;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  left: 20px;
}

@include tablet {
  .props-section h3 {
    padding-left: 45px;
  }

  .section_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .list_number {
    box-sizing: inherit;
  }

  .cards_body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
  }
}

@include desktop {
  .props-section {
    margin: 50px 64px;
  }

  .props-section h3 {
    padding: 0 0 25px 0;
  }

  .section_list {
    align-items: center;
    padding: 0;
  }

  .props_list {
    width: 280px;
    margin-bottom: 0;
  }

  .list_number {
    visibility: hidden;
  }
}
