.header a {
  position: absolute;
  left: 25px;
  color: $colorBlack;
  font-size: 25px;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.menu {
  padding: 0;

  & .banner_img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }

  & .content_menu {
    position: relative;
    border-radius: 40px 40px 0 0;
    background-color: $bgGrey;
    margin-top: -64px;
    padding: 31px 17px 40px 17px;
  }

  & .title_menu {
    font-family: "Shrikhand", cursive;
    font-weight: 500;
  }

  & .fa-regular.fa-heart {
    top: 32px;
    margin-right: 30px;
    height: 25px;
  }
}

hr {
  width: 40px;
  height: 3px;
  border-color: $colorGreen1;
  background-color: $colorGreen1;
  border: 3px;
  margin-bottom: 12px;
}

.menu h4 {
  color: $colorBlack;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 40px 0 3px 0;
}

.plates_cards {
  position: relative;
  padding: 15px;
  background: $bgWhrite;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & h5 {
    color: $colorBlack;
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 100px);
  }

  & p {
    color: $colorBlack;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 100px);
  }

  & .plates_price {
    color: $colorBlack;
    font-family: Roboto;
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    font-size: 16px;
    font-weight: 700;
  }

  & .fa-solid.fa-circle-check {
    display: none;
  }

  &:hover {
    & .fa-solid.fa-circle-check {
      width: 65px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $colorGreen1;
      color: $colorWhite;
      font-size: 20px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.plates_cards .check {
  border: 0;
  position: absolute;
  top: 0px;
  right: -100px;
  background-color: #99e2d0;
  height: 100%;
  width: 65px;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.55s;
}

.plates_cards .check .fa-circle-check {
  transition-duration: 0.6s;
}

.plates_cards:hover .check {
  right: 0;
}

.plates_cards:hover strong {
  margin-right: 60px;
}

.animation_cards {
  animation: appearance 1000ms;
  animation-fill-mode: both;
}

.animation_entree {
  animation-delay: 100ms;
}

.animation_dish {
  animation-delay: 150ms;
}

.animation_dessert {
  animation-delay: 200ms;
}

@keyframes appearance {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.button_menu {
  width: 186px;
  margin: 40px auto 0;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $colorWhite;
  font-family: Roboto;
  font-weight: 500;
}

.button_menu:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
}

@include tablet {
  .plates_cards {
    flex-wrap: wrap;
  }
}

@include desktop {
  .banner_img {
    height: 300px;
    object-fit: cover;
  }

  .content_menu {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .title_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plates_cards {
    width: 604px;
  }
}
