.location {
    display: flex;    
    justify-content: center;      
    height: 50px;
    background: $bgGrey2;
    align-items: center; 
    
    & address {
       color: $colorGrey;
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 500;        
    }

    & i {
        color: $colorGrey;
        margin-right: 17px;
    }

    & i:hover { 
        cursor: pointer;
        transition: all .8s ease-in-out;
        background: linear-gradient(to bottom, #FF79DA, #9356DC 80%);       
        opacity: 0;    
    }
}
