.background {
  background-color: $bgGrey;
}

.cards_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  padding: 30px 80px 26px 20px;
}

.cards_list {
  position: relative;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 18px;

  & img {
    width: 340px;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  & span {
    width: 80px;
    height: 29px;
    position: absolute;
    top: 13px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgGreen;
    color: $colorGreen2;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  & h5 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 0 5px 13px;
  }

  & p {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    padding: 0 0 12px 13px;
  }

  & .card_info {
    text-decoration: none;
    color: $colorBlack;
  }
}

@include tablet {
  .cards_body {
    flex-direction: row;
  }

  .restaurants-cards {
    min-width: 768px;
    width: 100%;
    padding: 0;
  }

  .restaurants-cards h3 {
    padding: 18px 0 28px 30px;
  }
}

@include desktop {
  .restaurants-cards {
    margin-top: 50px;
  }

  .restaurants-cards h3 {
    padding: 30px 0 28px 45px;
  }

  .cards_body {
    max-width: 1024px;
    width: 100%;
    gap: 30px;
  }

  .cards_list {
    width: 430px;
    height: 251px;
    margin-bottom: 20px;
  }

  .cards_list .card_img {
    width: 430px;
  }
}

@include large {
  .background {
    width: 100%;
  }

  .cards_list {
    width: 100%;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .restaurants-cards h3 {
    padding-left: 180px;
  }

  .cards_list .card_img {
    width: 490px;
  }

  .cards_body {
    padding-left: 180px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 100px;
  }
}
