
// Colors
$colorWhite: #FFFFFF;
$colorBlack: #101010;
$colorGrey: #353535;
$colorGrey2: #EAEAEA;
$colorGrey3: #7E7E7E;
$colorGreen2: #008766;
$colorBlue: #89C8FA;
$colorBlue2: #003A68;
$colorPrimary: #9356DC;

// Backgrounds
$bgBlack: #101010;
$bgWhrite: #FFF;
$bgGrey: #F6F6F6;
$bgGrey2: #EAEAEA;
$bgGreen: #99E2D0;
