// Colors
$colorWhite: #ffffff;
$colorBlack: #101010;
$colorGrey: #353535;
$colorGrey2: #eaeaea;
$colorGrey3: #7e7e7e;
$colorGreen1: #99e2d0;
$colorGreen2: #008766;
$colorBlue: #89c8fa;
$colorBlue2: #003a68;
$colorPrimary: #9356dc;
$colorSecondary: #ff79da;

// Backgrounds
$bgBlack: #101010;
$bgWhrite: #fff;
$bgGrey: #f6f6f6;
$bgGrey2: #eaeaea;
$bgGreen: #99e2d0;

// Breakpoints
$tablet: 768px !default;
$desktop: 1024px !default;
