.header {
  position: relative;
  display: flex;
  height: 36px;
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
}
.header h1 {
  color: #101010;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer {
  background: #353535;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
.footer h6 {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}
.footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  padding: 0;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.footer i {
  width: 25px;
}

@media screen and (min-width: 768px) {
  .footer ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 50px 20px 25px;
    align-items: center;
  }
  .footer ul {
    flex-direction: row;
    gap: 10px;
  }
  .footer h6 {
    margin-left: 30px;
  }
  .footer a {
    margin-right: 15px;
  }
}
* {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

h3 {
  color: #101010;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

.button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
}

.fa-regular.fa-heart {
  position: absolute;
  right: 25px;
  bottom: 30px;
  font-size: 21px;
}

.fa-regular.fa-heart:hover {
  cursor: pointer;
  background: linear-gradient(to top, #ff79da, #9356dc 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .button {
    margin: 0 0 30px 0;
  }
}
.location {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #eaeaea;
  align-items: center;
}
.location address {
  color: #353535;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.location i {
  color: #353535;
  margin-right: 17px;
}

.restaurants {
  display: flex;
  background: #f6f6f6;
  flex-direction: column;
  align-items: center;
}
.restaurants h2 {
  height: 68px;
  text-align: center;
  margin-top: 30px;
  color: #101010;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}
.restaurants p {
  height: 46px;
  color: #353535;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .restaurants h2 {
    height: 47px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants p {
    margin-bottom: 0;
  }
  .restaurants h2 {
    height: 47px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurants h2 {
    height: 47px;
  }
}
.props-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-left: -10px;
}
.props-section h3 {
  padding: 43px 80px 26px 30px;
}

.props_list {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  width: 322px;
  height: 72.4px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}
.props_list h4 {
  color: #101010;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}
.props_list .fa-mobile-screen-button {
  font-size: 20px;
  color: #7e7e7e;
  margin: 0 27px 0 35px;
}
.props_list .fa-list-ul {
  font-size: 20px;
  color: #7e7e7e;
  margin: 0 23px 0 34px;
}
.props_list .fa-store {
  font-size: 20px;
  color: #7e7e7e;
  margin: 0 20px 0 35px;
}
.props_list i:hover {
  color: #9356dc;
}

.list_number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: #ffffff;
  font-family: Roboto;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
}

@media screen and (min-width: 768px) {
  .props-section {
    width: 100%;
    margin-bottom: 0;
  }
  .props-section h3 {
    padding-left: 40px;
  }
  .section_list {
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cards_body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .props-section {
    width: auto;
    margin: 50px 22px 0 52px;
  }
  .props-section h3 {
    padding: 0 0 25px 0;
  }
  .section_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 10px;
  }
  .props_list {
    width: 280px;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .props_list .fa-solid {
    margin: 0 10px 0 20px;
  }
}
@media screen and (min-width: 1440px) {
  .props-section {
    width: auto;
    display: flex;
    margin: 50px 180px 0 180px;
  }
  .section_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .props_list {
    width: 322px;
  }
}
.background {
  background-color: #f6f6f6;
}

.cards_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  padding: 30px 80px 26px 20px;
}

.cards_list {
  position: relative;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 18px;
}
.cards_list img {
  width: 340px;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards_list span {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 13px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.cards_list h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0 5px 13px;
}
.cards_list p {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 12px 13px;
}
.cards_list .card_info {
  text-decoration: none;
  color: #101010;
}

@media screen and (min-width: 768px) {
  .cards_body {
    flex-direction: row;
  }
  .restaurants-cards {
    min-width: 768px;
    width: 100%;
    padding: 0;
  }
  .restaurants-cards h3 {
    padding: 18px 0 28px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants-cards {
    margin-top: 50px;
  }
  .restaurants-cards h3 {
    padding: 30px 0 28px 45px;
  }
  .cards_body {
    max-width: 1024px;
    width: 100%;
    gap: 30px;
  }
  .cards_list {
    width: 430px;
    height: 251px;
    margin-bottom: 20px;
  }
  .cards_list .card_img {
    width: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .background {
    width: 100%;
  }
  .cards_list {
    width: 100%;
  }
  .restaurants-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .restaurants-cards h3 {
    padding-left: 180px;
  }
  .cards_list .card_img {
    width: 490px;
  }
  .cards_body {
    padding-left: 180px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 100px;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader-screen 4s forwards;
}
.loader .loader_spinner {
  border: 5px solid #9356dc;
  width: 60px;
  height: 60px;
  border-top-color: black;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.8;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader-screen {
  100% {
    visibility: hidden;
  }
}
.header a {
  position: absolute;
  left: 25px;
  color: #101010;
  font-size: 25px;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.menu {
  padding: 0;
}
.menu .banner_img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .content_menu {
  position: relative;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  margin-top: -64px;
  padding: 31px 17px 40px 17px;
}
.menu .title_menu {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
.menu .fa-regular.fa-heart {
  position: absolute;
  top: 35px;
  margin-right: 24px;
  width: 26px;
  height: 25px;
}

hr {
  width: 40px;
  height: 3px;
  border-color: #99e2d0;
  background-color: #99e2d0;
  border: 3px;
  margin-bottom: 12px;
}

.menu h4 {
  color: #101010;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 40px 0 3px 0;
}

.plates_cards {
  position: relative;
  padding: 15px;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.plates_cards h5 {
  color: #101010;
  font-family: Roboto;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 100px);
}
.plates_cards p {
  color: #101010;
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 100px);
}
.plates_cards .plates_price {
  color: #101010;
  font-family: Roboto;
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  font-size: 16px;
  font-weight: 700;
}
.plates_cards .fa-solid.fa-circle-check {
  display: none;
}
.plates_cards:hover .fa-solid.fa-circle-check {
  width: 65px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #99e2d0;
  color: #ffffff;
  font-size: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plates_cards .check {
  border: 0;
  position: absolute;
  top: 0px;
  right: -100px;
  background-color: #99e2d0;
  height: 100%;
  width: 65px;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.6s;
}

.plates_cards:hover .check {
  right: 0;
}

.plates_cards:hover strong {
  margin-right: 60px;
}

.plates_cards strong {
  transition-duration: 0.6s;
}

.animation_cards {
  animation: appearance 1000ms;
  animation-fill-mode: both;
}

.animation_entrees {
  animation-delay: 0.25s;
}

.animation_dish {
  animation-delay: 0.5s;
}

.animation_desserts {
  animation-delay: 0.75s;
}

@keyframes appearance {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.button_menu {
  width: 186px;
  margin: 40px auto 0;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
}

.button_menu:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
}

@media screen and (min-width: 768px) {
  .plates_cards {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .banner_img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content_menu {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .title_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plates_cards {
    width: 604px;
  }
  .menu .fa-regular.fa-heart {
    position: absolute;
    top: 35px;
    margin-right: 250px;
    height: 25px;
  }
}/*# sourceMappingURL=style.css.map */