.header {
  position: relative;
  display: flex;
  height: 36px;
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
}
.header h1 {
  color: #101010;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer {
  background: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
.footer h6 {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}
.footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  padding: 0;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.footer i {
  width: 25px;
}

* {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

h3 {
  color: #101010;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

.location {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #EAEAEA;
  align-items: center;
}
.location address {
  color: #353535;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.location i {
  color: #353535;
  margin-right: 17px;
}
.location :hover {
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  background: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
  opacity: 0;
}

.restaurants {
  display: flex;
  background: #F6F6F6;
  flex-direction: column;
  align-items: center;
}
.restaurants h2 {
  width: 275px;
  height: 68px;
  text-align: center;
  margin-top: 30px;
  color: #101010;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}
.restaurants p {
  width: 315px;
  height: 46px;
  color: #353535;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 18px;
}

.button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.props-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-left: -10px;
}
.props-section h3 {
  padding: 43px 80px 26px 30px;
}

.props_list {
  display: flex;
  align-items: center;
  background: #F6F6F6;
  width: 322px;
  height: 72.4px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}
.props_list h4 {
  color: #101010;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}
.props_list .fa-mobile-screen-button {
  font-size: 20px;
  color: #7E7E7E;
  margin: 0 27px 0 35px;
}
.props_list .fa-list-ul {
  font-size: 20px;
  color: #7E7E7E;
  margin: 0 23px 0 34px;
}
.props_list .fa-store {
  font-size: 20px;
  color: #7E7E7E;
  margin: 0 20px 0 35px;
}

.list_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #9356DC;
  color: #FFFFFF;
  font-family: Roboto;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  left: 20px;
}

.restaurants-cards {
  background-color: #F6F6F6;
  padding: 54px 18px 66px 17px;
}
.restaurants-cards h3 {
  padding: 0 80px 26px 20px;
}

.cards_list {
  position: relative;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 18px;
}
.cards_list img {
  width: 340px;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards_list span {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 13px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.cards_list h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0 5px 13px;
}
.cards_list p {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 12px 13px;
}
.cards_list .fa-regular.fa-heart {
  position: absolute;
  right: 25px;
  bottom: 33px;
  font-size: 22px;
}
.cards_list .fa-regular.fa-heart:hover {
  background: linear-gradient(to top, #FF79DA, #9356DC 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.header a {
  position: absolute;
  left: 25px;
  color: #101010;
  font-size: 25px;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.menu {
  padding: 0;
}
.menu .banner_img {
  width: 100%;
}
.menu .content_menu {
  position: relative;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  margin-top: -64px;
  padding: 31px 17px 40px 17px;
}
.menu .title_menu {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.menu h4 {
  color: #101010;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 40px 0 20px 0;
}

.menu_list {
  position: relative;
  padding: 12px;
  background: #FFF;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.menu_list h5 {
  color: #101010;
  font-family: Roboto;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
}
.menu_list p {
  color: #101010;
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
}
.menu_list .plate_price {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 16px;
}
.menu_list .fa-solid.fa-circle-check {
  background-color: #99E2D0;
  color: #FFFFFF;
  font-size: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 59px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */